header {
    height: 50px;
    width: 100vw;
    background-position: 20px 5px;     
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header p {
    text-align: center;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    background-color: white;
    bottom: 0;
    position: fixed;
    height: 50px;
    width: 100vw;
    justify-content: center;
    display: flex;
    border-top: 1px solid #CCCCCC;  
}